@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition-delay: 300ms;
  transition: all 1s ease-in-out;
  transition-delay: 1s;
}

::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0;
  background: #f1f1f1;
}

::-webkit-scrollbar-track {
  width: 0.5rem;
  border-radius: 0;
  background: #f0f0f1;
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  border-radius: 0;
  background: #c0c2c5;
}
